<div class="navBar">
  <div class="container-fluid headerTop">
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
      <div class="p-2 bd-highlight">
        <a class="navbar-brand" href="/index"><img
            class="navbarImg"
            src="./images/logo.png"
            alt="logo"
          /></a>
      </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="btn-group dropstart">
          <button
            type="button"
            class="btn"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-user"></i>
          </button>

          <span class="visually-hidden">Toggle Dropdown</span>

          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/login">Login</a>
            </li>
            <li><a class="dropdown-item" href="/register">Register Employee</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>